*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.topo{
    width: 100%;
    height: 49px;
    background-color: rgb(230, 3, 135);
    display: flex;
    align-items: center;
    justify-content: center;
}

.off{
    font-size: 30px;
    color:white;
    font-family: Roboto;
}

.menu{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
}

.menu a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 1em;
    text-decoration: none;
}

.faixa{
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
}

.links{
    width: 40%;
}

.bloco{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.container_faixa{
   align-items:center;
   height: 80px;
}

.logo p{
    color: rgb(255, 9, 140);
    text-transform: lowercase;
    font-size:45px ;
    display: flex;
    align-items: center;
}

.barra{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.barra input{
    width: 85%;
    height: 30px;
}

.dados{
    width: 32%;
    display: flex;
    justify-content: space-between;
    margin-right: 6em;
}

.dados a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: darkgray;
}

.sessoes {
    width: 100%;
    display: flex;
    justify-content:space-between;
    
}

.sessoes a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-top: 2em;
}
